  .gridly {
    position: relative;
    height: 200px;
    width: 50%;
    
  }
  .line.chart {
    height: 400px;
    width: 600px;
    background-color: lightcyan;
    position:fixed;
    left: 50;
    transform:translateX(-50%);
  }
  .bar.chart {
    height: 400px;
    width: 600px;
    background-color: lightcyan;
    position:fixed;
    left:30;
    transform:translateX(60%);
  }
  .rect {
    height: 200px;
    width: 300px;
    background-color: lightcyan;
    position:absolute;
    left:30;
    transform:translateX(-60%);
  }
