
  .gridly {
    position: relative;
    height: 200px;
    width: 50%;
    
  }
  .line.chart {
    height: 400px;
    width: 600px;
    background-color: lightcyan;
    position:absolute;
    left: 50;
    transform:translateX(-50%);
  }
  .bar.chart {
    height: auto;
    width: 600px;
    background-color: lightcyan;
    position:absolute;
    left:30;
    transform:translateX(58%);
  }
  .rect1 {
    height: 150px;
    width: 280px;
    background-color: lightcyan;
    position:absolute;
    
    transform:translateX(-107%);
  }
  .rect2 {
    height: 150px;
    width: 280px;
    background-color: lightcyan;
    position:absolute;
    
    transform:translateX(09%);
  }
  .rect3 {
    height: 150px;
    width: 280px;
    background-color: lightcyan;
    position:absolute;
    
    transform:translateX(126%);
  }
  .rect4 {
    height: 150px;
    width: 280px;
    background-color: lightcyan;
    position:absolute;
    
    transform:translateX(240%);
  }
